*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: burlywood;
    font-size: 30px;
}
body{
    background-image: url("https://raw.githubusercontent.com/anchuot456/boulangerie_website/main/images/background.png");
    background-repeat:repeat-y;
    background-size: 100% 100%;
}
.name{
    text-align: center;
    font-size: 45px;
    font-family: 'Courier New', Courier, monospace;
    position: relative;
    top: 10%;
}
.name img{
  width: 300px;
  height: 300px;
}
.name b{
    color: wheat;
}

.footer{
    width: 100%;
    position:relative;
    bottom: 0%;
}
.menu-container{
  padding-left: 10%;
  padding-right: 10%;
  max-width: 100%;
}
.container{
  max-width: 100%;
  padding-left: 10%;
}

.container-items{
  margin: 5px;
  padding: 5px;
  display: inline-block;
  width: 225px;
  height: 150px;
}

.container-items-desert{
  margin: 5px;
  padding: 5px;
  display: inline-block;
  width: 225px;
  height: 225px;
}
.container-items-desert-2{
  margin: 5px;
  padding: 5px;
  display: inline-block;
  width: 225px;
  height: 321px;
}

.container-items img{
  width: 100%;
  height: 100%;
}

.container-items-desert img{
  width: 100%;
  height: 100%;
}

.container-items-desert-2 img{
  width: 100%;
  height: 100%;
}

.icon{
    width: 15px;
    height: 15px;
}
span{
    padding-left: 5px;
    text-align: center;
    font-size: 18px;
}
.content{
    position: relative;
    /*padding: 20%;*/
    max-width: 100%;
}
.introduce{
  padding-left: 15%;
  padding-right: 15%;
  text-align: center;
}
.introduce b{
  font-size: 24px;
}
/*@media only screen and (min-width:387px){
  .container-items{width: 300px; height: 200px;}
  .container-items-desert{width: 300px; height: 300px;}
  .container-items-desert-2{width: 300px; height: 429px;}
}
@media only screen and (min-width:503px){
  .name img{width: 400px; height: 400px;}
  .container-items{width: 300px; height: 200px;}
  .container-items-desert{width: 300px; height: 300px;}
  .container-items-desert-2{width: 300px; height: 429px;}
}
@media only screen and (min-width:714px){
  .container-items{width: 300px; height: 200px;}
  .container-items-desert{width: 300px; height: 300px;}
  .container-items-desert-2{width: 300px; height: 429px;}
}
@media only screen and (min-height: 730px){
    @media only screen and (max-width:730) {
        .footer{position: fixed;}   
    }
}*/
